<launch>
  <arg name="open_rviz" default="true"/>
  <arg name="image_topic" default="/usb_cam/image_raw"/>
  <arg name="camera_info_topic" default="/usb_cam/camera_info"/>

  <include file="$(find doll_map_annotator)/launch/doll_map_core.launch">
    <arg name="image_topic" value="$(arg image_topic)"/>
    <arg name="camera_info_topic" value="$(arg camera_info_topic)"/>
  </include>

  <node if="$(arg open_rviz)" pkg="rviz" type="rviz" name="rviz_doll_map" args="-d $(find doll_map_annotator)/rviz/doll_map.rviz"/>
</launch>
